<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/static/assets/img/faviconhst.ico">
    <title>400 Bad Request</title>

    <!-- CSS Files -->
    <link href="/static/assets/css/iodine.css" rel="stylesheet" />
</head>

<body>
    <h1>400 Bad Request</h1>
    <p>Oops! Something went wrong.</p>
    <p>The server is unable to process your request. Go back to the <a href="/"><b>homepage</b></a>.</p>
</body>

</html>