<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, shrink-to-fit=yes">
    <link rel="icon" href="/static/favicon.png" sizes="any">
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <title>400 Bad Request</title>

    <!-- CSS Files -->
    <link href="/static/assets/css/index.css" rel="stylesheet"/>
</head>

<body>
    <h1>400 Bad Request</h1>
    <p>Oops! Something went wrong.</p>
    <p>The server is unable to process your request. Go back to the <a href="/"><b>homepage</b></a>.</p>
</body>

</html>