<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.25, shrink-to-fit=yes">
    <meta name="theme-color" content="#161618" />
    <meta name="color-scheme" content="dark">
    <link rel="icon" href="/static/favicon.png" sizes="any">
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">

    <title>
        403 Forbidden
    </title>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" rel="stylesheet">

    <!-- CSS Files -->
    <link href="/static/assets/css/index.css" rel="stylesheet"/>

</head>

<body>
<div id="console">
<span id="cli" class="ascii">[<span style="color: #7bd833;">user@server164</span> {{ time }} <span style="color:#588fcd;">public_html</span>]$ <span id="cli_animation">./{{ request.site.name }}.sh -t -f 'ANSI Shadow' &> error.html</span></span>
<span id="banner" class="ascii animation animated-item">
██╗  ██╗ ██████╗ ██████╗     ███████╗ ██████╗ ██████╗ ██████╗ ██╗██████╗ ██████╗ ███████╗███╗   ██╗
██║  ██║██╔═████╗╚════██╗    ██╔════╝██╔═══██╗██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██╔════╝████╗  ██║
███████║██║██╔██║ █████╔╝    █████╗  ██║   ██║██████╔╝██████╔╝██║██║  ██║██║  ██║█████╗  ██╔██╗ ██║
╚════██║████╔╝██║ ╚═══██╗    ██╔══╝  ██║   ██║██╔══██╗██╔══██╗██║██║  ██║██║  ██║██╔══╝  ██║╚██╗██║
     ██║╚██████╔╝██████╔╝    ██║     ╚██████╔╝██║  ██║██████╔╝██║██████╔╝██████╔╝███████╗██║ ╚████║
     ╚═╝ ╚═════╝ ╚═════╝     ╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚═╝╚═════╝ ╚═════╝ ╚══════╝╚═╝  ╚═══╝
</span>
</div>
<script>
    const now = new Date();
    const time = now.toLocaleTimeString('en-GB', { hour12: false });
    let siteName = window.location.pathname.split('/').filter(Boolean)[0];
    siteName = siteName || 'unknown';
    const cliSpan = document.getElementById('cli');
    cliSpan.innerHTML = `[<span style="color: #7bd833;">user@server164</span> ${time} <span style="color:#588fcd;">public_html</span>]$ <span id="cli_animation">./${siteName}.sh -t -f 'ANSI Shadow' &> error.html</span>`;
</script>
<!--  index script  -->
<script src="/static/assets/js/index.js"></script>
<div class="bottom">
    <div class="footer-content">
        <ul class="fa-ul icon_animation animated-item">
            <li><a href="/"><span class="fa-li"><i class="fa-solid fa-arrow-left"></i></span><span class="ascii animation animated-item">Back to Homepage</span></a></li>
        </ul>
    </div>
</div>
</body>
</html>