<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/static/assets/img/faviconhst.ico">
    <title>404 Not Found</title>

    <!-- CSS Files -->
    <link href="/static/assets/css/iodine.css" rel="stylesheet" />
</head>

<body>
    <h1>404 Not Found</h1>
    <p>Oops! The page you're looking for doesn't exist.</p>
    <p>Please check the URL or go back to the <a href="/"><b>homepage</b></a>.</p>
</body>