<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/static/assets/img/faviconhst.ico">
    <title>500 Internal Server Error</title>

    <!-- CSS Files -->
    <link href="/static/assets/css/iodine.css" rel="stylesheet" />
</head>

<body>
    <h1>500 Internal Server Error</h1>
    <p>Oops! Something went wrong on the server.</p>
    <p>Please try again later or go back to the <a href="/"><b>homepage</b></a>.</p>
</body>

</html>