<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, shrink-to-fit=yes">
    <link rel="icon" href="/static/favicon.png" sizes="any">
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <title>500 Internal Server Error</title>

    <!-- CSS Files -->
    <link href="/static/assets/css/index.css" rel="stylesheet"/>
</head>

<body>
    <h1>500 Internal Server Error</h1>
    <p>Oops! Something went wrong on the server.</p>
    <p>Please try again later or go back to the <a href="/"><b>homepage</b></a>.</p>
</body>

</html>