:root {
    --main-font: "Poppins";
    --light: #dfdfdf;
    --dark: #161618;
    --gray: #6c757d;
    --gray-dark: #32325d;
    --lighter: #e9ecef;
    --primary: #e14eca;
    --secondary: #f4f5f7;
    --success: #00f2c3;
    --info: #1d8cf8;
    --warning: #ff8d72;
    --danger: #fd5d93;
    --default: rgb(44, 44, 44);
    --neutral: #dfdfdf;
    --darker: black;
    --gd-0: #6DC7FF;
    --gd-1: #E6ABFF;
    --gd-2: #1A6DFF;
    --gd-3: #C822FF;
}

html,
input,
textarea,
button,
g {
    font-family: var(--main-font);
}

body {
    color: var(--light);
    background-color: var(--dark);
    font-family: var(--main-font);
}

div#console {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animated-item {
    visibility: hidden;
}

span#banner {
    background: linear-gradient(217deg, var(--gd-0), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, var(--gd-1), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, var(--gd-2), rgba(0, 0, 255, 0) 70.71%);
    background-clip: text;
    color: transparent;
}

span#banner span {
    color: transparent;
}

span.ascii {
    display: inline-block;
    white-space: pre;
    letter-spacing: 0;
    line-height: 1;
    font-family: 'Consolas', 'BitstreamVeraSansMono', 'CourierNew', Courier, monospace;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}